@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1440px;
  width: 80.5%; 
  margin: 0 auto;
}

/*Banner styling start here---------*/
.banner {
  padding: 86px 0 49px;
  background-color: #1f1f1f;
}

.banner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
}

.banner-content {
  -ms-flex-preferred-size: 42.6%;
    flex-basis: 42.6%;
}

.banner figure {
  -ms-flex-preferred-size: 39.6%;
    flex-basis: 39.6%;
}

.banner-content p {
  color: #fff;
  font-size: 21px;
  line-height: 25px;
}

.form-wrap {
  margin-top: 58px;
}

.form-wrap .text {
  width: 80%;
  height: 42px;
  border: none;
  padding: 0 19.5px;
}

.submit {
  width: 88%;
  padding: 36px 0;
  margin-top: 20px;
  font-size: 36px;
  background-color: #00c564;
  color: #fff;
  border: 2px solid #00c564;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 700;
  position: relative;
}

.submit:hover {
  background-color: #000;
  color: #00c564;
}

.banner-content label {
  padding-bottom: 15px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

h2 {
  padding-bottom: 19px;
  color: #fff;
  font: 500 48px sans-serif;
}
 
/*Download section styling start here*/
.download {
  padding-bottom: 80px;
  background: #222322;
}

.download p {
  padding: 27px 0;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 18px;
}

.download ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
}

.download span {
  color: #fff;
  font-size: 18px;
}

.download li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 32%;
    flex-basis: 32%;
}

.download li .arrow {
  width: 12%;
  height: 40px;
  margin-top: 15px;
  display: inline-block;
}

.download li figure {
  width: 18%;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.download li span {
  padding-top: 25px;
  padding-right: 3%;
  display: inline-block;
}

/*Footer section styling start ---------*/
footer {
  padding: 37px 0;
  background-color: #222322;
  text-align: center;
}

footer a {
  color: #fff;
  font-size: 14px;
  letter-spacing: .3px;
}

footer a:hover {
  color: #00c564;
}

footer a:after {
  content: '|';
  padding: 0 5px;
}

footer a:hover + a:after {
  color: #fff;
}

footer li:last-child a:after {
  display: none;
}

footer .to-the-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  right: 2%;
  bottom: 18px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

footer .to-the-top:hover {
  -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

footer img {
  border-radius: 50%;
}

/*Media queries  */
@media screen and (max-width: 1280px) {
  .banner-content {
     margin-bottom: 50px;
     -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .banner figure {
    -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  }

  .submit {
    padding: 25px;
    width: 50%;
  }

  .download li {
    margin-bottom: 20px;
    -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }

  .download {
    padding-bottom: 50px;
  }

  .download li figure {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 767px) {
  .banner h2 {
    font-size: 38px;
  }

  .submit {
    font-size: 30px;
    padding: 20px 40px;
    width: auto;
  }

  footer ul {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  footer .to-the-top {
    width: 35px;
    height: 35px;
  }
}