@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1440px;
  width: 80.5%; 
  margin: 0 auto;
}

/*Banner styling start here---------*/
.banner {
  padding: 86px 0 49px;
  background-color: #1f1f1f;
}

.banner .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner-content {
  flex-basis: 42.6%;
}

.banner figure {
  flex-basis: 39.6%;
}

.banner-content p {
  color: #fff;
  font-size: 21px;
  line-height: 25px;
}

.form-wrap {
  margin-top: 58px;
}

.form-wrap .text {
  width: 80%;
  height: 42px;
  border: none;
  padding: 0 19.5px;
}

.submit {
  width: 88%;
  padding: 36px 0;
  margin-top: 20px;
  font-size: 36px;
  background-color: #00c564;
  color: #fff;
  border: none;
  border-radius: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}

.banner-content label {
  padding-bottom: 15px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
}

h2 {
  padding-bottom: 19px;
  color: #fff;
  font: 500 48px sans-serif;
}
 
/*Download section styling start here*/
.download {
  padding-bottom: 80px;
  background: #222322;
}

.download p {
  padding: 27px 0;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 18px;
}

.download ul {
  display: flex;
  justify-content: center;
}

.download span {
  color: #fff;
  font-size: 18px;
}

.download li {
  display: flex;
  flex-basis: 32%;
}

.download li .arrow {
  width: 60px;
  height: 40px;
  margin-top: 15px;
  display: inline-block;
}

.download li figure {
  width: 18%;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.download li span {
  padding-top: 25px;
  padding-right: 3%;
  display: inline-block;
}